[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/mkrishnasri
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mkrishnasri
	label-Verified = -1..+1 group user/mkrishnasri
	push = group user/mkrishnasri
	read = group user/mkrishnasri
	rebase = group user/mkrishnasri
	removeReviewer = group user/mkrishnasri
	submit = group user/mkrishnasri
[access "refs/heads/*"]
	create = group user/mkrishnasri
	push = +force group user/mkrishnasri
	pushMerge = group user/mkrishnasri
	read = group user/mkrishnasri
[access "refs/tags/*"]
	push = group user/mkrishnasri
	push = +force group user/mkrishnasri
